body {
    background-color: rgb(11, 90, 42)); /*Pode escolher outra cor se quiser*/
  }
  
  h1 {
    color: rgba(247, 247, 247, 0.651); /*Pode escolher outra cor se quiser*/
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }